.status {
  border-radius: 15px;
  font-weight: 700;
  padding: 3.3rem 2.5rem;
}

.status--draft {
  background-color: rgba(55, 59, 83, 0.1);
  color: #373b53;
}

.status--pending {
  background-color: rgb(255, 143, 0, 0.1);
  color: #ff8f00;
}

.status--paid {
  background-color: rgba(51, 214, 159, 0.1);
  color: rgb(51, 214, 159);
}
