.status {
  border-radius: 5px;
  font-weight: 700;
  padding: 1rem 2rem;

  text-align: center;
  vertical-align: middle;
  width: 104px;
}

.status--draft {
  background-color: rgba(55, 59, 83, 0.1);
  color: #373b53;
}

.status--pending {
  background-color: rgb(255, 143, 0, 0.1);
  color: #ff8f00;
}

.status--paid {
  background-color: rgba(51, 214, 159, 0.1);
  color: rgb(51, 214, 159);
}
