.dropdown-container {
  display: flex;
  flex-direction: column;

  position: relative;
}

.dropdown-items {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  margin-top: 2rem;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--light);

  z-index: 100;
}

.dropdown-items > * {
  margin-bottom: 1rem;
}

.dropdown-toggle {
  background: url(../../assets/icon-arrow-down.svg);
  background-size: contain;
  background-repeat: no-repeat;

  height: 8px;
  width: 10px;
}

.dropdown-hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
