.navbar {
  background-color: var(--lightDark);

  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: var(--primaryPurple);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 12.584rem;

  width: 72px;
  height: 72px;
  color: white;
}

.logo img {
  height: 26px;
  width: 28px;
}

.theme-toggle {
  border-right: 1px solid var(--grey);

  padding: 2rem 2.2rem;
}

.avatar-container {
  justify-content: space-around;
  align-items: center;

  padding-right: 1rem;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  /* width: 6.7rem; */

  padding-right: 1rem;
}

.avatar img {
  border-radius: 500px;

  height: 2.7rem;
  width: 2.7rem;
}
